<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="typo.css" />
    <link rel="stylesheet" href="../../docs.css" />
    <title>Light UI</title>
  </head>
  <body>
    <!-- ui nav bar -->
    <nav class="ui-nav">
      <div class="right-nav">
        <span class="main-heading">Light UI</span>
        <span class="sub-heading">v 1.0</span>
      </div>
      <ul class="left-nav">
        <div class="nav-item"><a href="#">Example</a></div>
        <div class="nav-item"><a href="#">Github</a></div>
      </ul>
    </nav>
    <!-- ui nav bar -->
    <div class="main-box">
      <!-- docs side bar -->
      <div class="side-bar">
        <div class="sidebar-title">Components</div>
        <div class="sidebar-item">
          <a class="link-text" href="#">Typography</a>
        </div>
        <div class="sidebar-item"><a class="link-text" href="#">Bike</a></div>
        <div class="sidebar-item"><a class="link-text" href="#">Plan</a></div>
        <div class="sidebar-item"><a class="link-text" href="#">boat</a></div>
      </div>
      <!-- docs side bar -->
      <!-- docs main contant -->
      <div class="doc-contant">
        <div class="docs-info">
          <div class="docs-heading">Typography</div>
          <div class="docs-sub-heading">
            Documentation and examples for
            <span class="highlight">Light UI</span> typography, including global
            settings, headings, body text, lists, and more.
          </div>
        </div>
        <div class="docs-info">
          <div class="docs-heading doc-m-heading">Headings</div>
          <div class="sub-heading">
            All HTML headings, <span class="highlight">h1</span> through
            <span class="highlight">h6</span> , are available.
          </div>
          <div class="demo-component-typo">
            <span> <h1>h1. heading</h1> </span>
            <span> <h2>h2. heading</h2> </span>
            <span> <h3>h3. heading</h3> </span>
            <span> <h4>h4. heading</h4> </span>
            <span> <h5>h5. heading</h5> </span>
            <span> <h6>h6. heading</h6> </span>
            <span>
              <p>
                <strong>Pragraph </strong>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
                ut culpa quia pariatur est molestiae accusamus harum, quis
                repellendus voluptatem fugiat tempora voluptate inventore
                quibusdam rem distinctio molestias quo? Atque!
              </p>
            </span>
          </div>
          <!-- code snipet -->
          <div class="code-snippet">
            <iframe
              src="https://carbon.now.sh/embed/srvaI4nZr99uKE7q5J2b"
              style="
                width: 816px;
                height: 391px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
        </div>
        <div class="docs-info">
          <div class="docs-heading doc-m-heading">Font Family</div>
          <div class="sub-heading">
            <span class="highlight">Light UI</span> uses Roboto, as its default
            font, which is a free font available at Google Fonts.
          </div>
          <div class="code-snippet">
            <iframe
              src="https://carbon.now.sh/embed/kJoZOHFusutp6FQlgep1"
              style="
                width: 816px;
                height: 391px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
        </div>
      </div>
      <!-- docs main contant -->
    </div>
  </body>
</html>
