/* typo css */
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 1;
}
h5 {
  font-size: 0.8rem;
}
h6 {
  font-size: 0.7rem;
}
p {
  font-size: 0.9rem;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-lg {
  font-size: 1.2rem;
}
/* heading */
.heading-lg {
  font-size: 1.5rem;
  font-weight: 400;
}
.heading-x-lg {
  font-size: 1.8rem;
}
.heading-sm {
  font-size: 1.2rem;
}

.gray-text {
  color: var(--dark-gray);
}
.text-medium {
  font-size: 1rem;
}
.demo-component-typo {
  flex-direction: column;
}
