/* typo css */
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 1;
}
h5 {
  font-size: 0.8rem;
}
h6 {
  font-size: 0.7rem;
}
p {
  font-size: 0.9rem;
}


.demo-component-typo{
  flex-direction: column;
}