<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/x-icon"
      href="../../assets/light-favicon.png"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="input.css" />

    <link rel="stylesheet" href="../../docs.css" />
    <title>Light UI</title>
  </head>
  <body>
    <!-- ui nav bar -->
    <nav class="ui-nav">
      <div class="right-nav">
        <span class="main-heading">Light UI</span>
        <span class="sub-heading">v 1.0</span>
      </div>
      <ul class="left-nav">
        <div class="nav-item"><a href="#">Example</a></div>
        <div class="nav-item"><a href="#">Github</a></div>
      </ul>
    </nav>
    <!-- ui nav bar -->
    <div class="main-box">
      <!-- docs side bar -->
      <div class="side-bar">
        <div class="sidebar-title">Components</div>
        <div class="sidebar-item">
          <a class="link-text" href="../typography/typo.html">Typography</a>
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="avtar.html">Avatar</a>
        </div>
        <div class="sidebar-item"><a class="link-text" href="#">Badge</a></div>
        <div class="sidebar-item">
          <a class="link-text" href="../alert-btn/alert.html">Alert</a>
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="../alert-btn/button.html">Button</a>
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="image.html">Image</a>
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="">Input</a>
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="../card/card.html">Card</a>
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="../list/list.html">List</a>
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="../navigation/navigation.html">
            Navigation
          </a>
        </div>
      </div>
      <!-- docs side bar -->
      <!-- docs main contant -->
      <main class="doc-contant">
        <div class="docs-info">
          <div class="docs-heading">Inputs</div>
          <div class="docs-sub-heading">
            Inputs are necessary for user interaction with the website. Inputs
            are used to take information from the user, and then save the data
            to the server, accordingly.
          </div>
        </div>
        <div class="docs-info">
          <div class="docs-heading doc-m-heading">Label Inputs</div>
          <div class="sub-heading">
            Create beautifull and simple
            <span class="highlight">input box</span>
          </div>

          <div class="demo-component-typo">
            <div class="input-box">
              <label for="input">User Name -</label>
              <input type="text" />
            </div>
          </div>
          <!-- code snipet -->
          <div class="code-snippet">
            <iframe
              src="https://carbon.now.sh/embed/y2cj6dSvL3dbp9N2ZmYQ"
              style="
                width: 100%;
                height: 316px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
        </div>
        <div class="docs-info">
          <div class="docs-heading doc-m-heading">Form validation styles</div>
          <div class="sub-heading">
            In need of Error or success layout add error or success class on
            input box
          </div>

          <div class="demo-component-typo">
            <div class="input-box error">
              <label for="input">Password -</label>
              <input type="text" />
              <label for="error">Wrong Password</label>
            </div>
            <span></span>
            <div class="input-box success">
              <label for="input">success -</label>
              <input type="text" />
            </div>
          </div>
          <div class="code-snippet">
            <iframe
              src="https://carbon.now.sh/embed/N5wTr3dhELFy3r21sEAb"
              style="
                width: 100%;
                height: 298px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
        </div>
      </main>
      <!-- docs main contant -->
    </div>
  </body>
  <script src="badge.js"></script>
</html>
