<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="../../assets/light-favicon.png"
    />
    <link rel="stylesheet" href="../../import.css">
    <link rel="stylesheet" href="grid.css" />
    <link rel="stylesheet" href="../../docs.css" />
    <title>Light UI</title>
  </head>
  <body>
    <!-- ui nav bar -->
    <nav class="ui-nav">
      <div class="right-nav">
        <span class="main-heading">Light UI</span>
        <span class="sub-heading">v 1.0</span>
      </div>
      <ul class="left-nav">
        <div class="nav-item"><a href="../../index.html">Get Started</a></div>
        <div class="nav-item">
          <a href="https://github.com/harshitpaliwal95/light-ui">Github</a>
        </div>
      </ul>
    </nav>
    <!-- ui nav bar -->
    <div class="main-box">
      <!-- docs side bar -->
      <div class="side-bar">
        <div class="sidebar-title">Components</div>
        <div class="sidebar-item">
          <a class="link-text" href="#">Typography</a>
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="../avtar-badge/avtar.html">Avatar</a>
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="../avtar-badge/badge.html">Badge</a>
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="../alert-btn/alert.html">Alert</a>
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="../alert-btn/button.html">Button</a>
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="../image-input/image.html">Image</a>
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="../image-input/input.html">Input</a>
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="../card/card.html">Cards</a>
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="../list/list.html">List</a>
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="../navigation/navigation.html">
            Navigation
          </a>
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="../snackbar-rating/snackbar.html"
            >Snackbar</a
          >
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="../snackbar-rating/rating.html">Rating</a>
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="../modal/modal.html">Modal</a>
        </div>
        <div class="sidebar-item">
          <a class="link-text active" href="#">Grids</a>
        </div>
      </div>
      <!-- docs side bar -->
      <!-- docs main contant -->
      <main class="doc-contant">
        <div class="docs-info">
          <div class="docs-heading">Simplified Grid</div>
          <div class="docs-sub-heading">
            Use grid when you want sections in view. Check below some examples
            of side by side cards.
          </div>
        </div>
        <div class="docs-info">
          <div class="docs-heading doc-m-heading">Two items in a grid</div>
          <div class="sub-heading">grid of two items in 50-50 layout</div>
          <!-- one -->
          <div class="demo-component-typo">
            <div class="grid-two">
                <div class="card-component">
                    <div class="card-comp-img">
                      <img
                        class="card-top-img"
                        src="../../assets/jorden-demo.jpeg"
                        alt="loading"
                        srcset=""
                      />
                    </div>
                    <div class="card-badge">new</div>
                    <div class="card-comp-contant">
                      <h2 class="card-h2">Air Jordan 4</h2>
                      <h3 class="card-h3">by Nike</h3>
                      <p class="card-para">
                       <h5>RS 10,000</h5>
                       <p class="discount-tag">30% off</p>
                      </p>
                    </div>
                    <div class="card-btn-footer">
                      <button class="btn btn-outline btn-outline-prime">Add to Cart</button>
                    </div>
                  </div>
                  <!-- two -->
                  <div class="card-component">
                    <div class="card-comp-img">
                      <img
                        class="card-top-img"
                        src="../../assets/jorden-demo.jpeg"
                        alt="loading"
                        srcset=""
                      />
                    </div>
                    <div class="card-badge">new</div>
                    <div class="card-comp-contant">
                      <h2 class="card-h2">Air Jordan 4</h2>
                      <h3 class="card-h3">by Nike</h3>
                      <p class="card-para">
                       <h5>RS 10,000</h5>
                       <p class="discount-tag">30% off</p>
                      </p>
                    </div>
                    <div class="card-btn-footer">
                      <button class="btn btn-outline btn-outline-prime">Add to Cart</button>
                    </div>
                  </div>
            </div>
          </div>
          <!-- code snipet -->
          <div class="code-snippet">
            <iframe
              src="https://carbon.now.sh/embed/mvgsDTFW8LvXYms8osk9"
              style="
                width: 100%;
                height: 391px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
        </div>
        <div class="docs-info">
          <div class="docs-heading doc-m-heading">Grid of three items</div>
          
          <div class="demo-component-typo">
            <div class="grid-three">
                <!-- one -->
                <div class="card-component">
                    <div class="card-comp-img">
                      <img
                        class="card-top-img"
                        src="../../assets/jorden-demo.jpeg"
                        alt="loading"
                        srcset=""
                      />
                    </div>
                    <div class="card-badge">new</div>
                    <div class="card-comp-contant">
                      <h2 class="card-h2">Air Jordan 4</h2>
                      <h3 class="card-h3">by Nike</h3>
                      <p class="card-para">
                       <h5>RS 10,000</h5>
                       <p class="discount-tag">30% off</p>
                      </p>
                    </div>
                    <div class="card-btn-footer">
                      <button class="btn btn-outline btn-outline-prime">Add to Cart</button>
                    </div>
                  </div>
                  <!-- two -->
                  <div class="card-component">
                    <div class="card-comp-img">
                      <img
                        class="card-top-img"
                        src="../../assets/jorden-demo.jpeg"
                        alt="loading"
                        srcset=""
                      />
                    </div>
                    <div class="card-badge">new</div>
                    <div class="card-comp-contant">
                      <h2 class="card-h2">Air Jordan 4</h2>
                      <h3 class="card-h3">by Nike</h3>
                      <p class="card-para">
                       <h5>RS 10,000</h5>
                       <p class="discount-tag">30% off</p>
                      </p>
                    </div>
                    <div class="card-btn-footer">
                      <button class="btn btn-outline btn-outline-prime">Add to Cart</button>
                    </div>
                  </div>
                  <!-- three -->
                  <div class="card-component">
                    <div class="card-comp-img">
                      <img
                        class="card-top-img"
                        src="../../assets/jorden-demo.jpeg"
                        alt="loading"
                        srcset=""
                      />
                    </div>
                    <div class="card-badge">new</div>
                    <div class="card-comp-contant">
                      <h2 class="card-h2">Air Jordan 4</h2>
                      <h3 class="card-h3">by Nike</h3>
                      <p class="card-para">
                       <h5>RS 10,000</h5>
                       <p class="discount-tag">30% off</p>
                      </p>
                    </div>
                    <div class="card-btn-footer">
                      <button class="btn btn-outline btn-outline-prime">Add to Cart</button>
                    </div>
                  </div>
            </div>
          </div>
          <!-- code snipet -->
          <div class="code-snippet">
            <iframe
              src="https://carbon.now.sh/embed/BgS35CrrxwhZtdL5Vez7"
              style="
                width: 100%;
                height: 391px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
        </div>
       
        
      </main>
      <!-- docs main contant -->
    </div>
  </body>
</html>
