/* font link */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/* icons  link */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

@import url(docs.css);
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
button {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}

/* variables */
:root {
  --primary-color: rgb(97, 1, 238);
  --secondary-color: rgb(102, 102, 102);
  --dark-mode: #1a202c;
  --white: white;
  --black: black;

  --success-color: rgb(25, 135, 83);

  --warning-color: rgb(255, 192, 7);

  --danger-color: rgb(220, 52, 68);
  --light-purple: rgb(219, 196, 253);

  --hover-color-blue: #058ce0;

  --light-blue: rgb(16, 202, 240);

  --light-gray: rgb(210, 210, 210);
  --light-gray-v2: rgba(128, 128, 128, 0.144);
  --dark-gray: rgb(75, 75, 75);

  --main-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --dark-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --outline-boxshadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

/* home navbar */
.ui-nav {
  display: flex;
  margin: 1rem 5rem;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

ul {
  display: flex;
  /* flex-direction: column; */
  list-style: none;
}
.nav-item {
  margin: 0.5rem;
  cursor: pointer;
}
.nav-item a {
  text-decoration: none;
  color: inherit;
  padding: 0.4rem 1rem;
  background-color: inherit;
  border-radius: 4px;
  transition: 0.4s;
  font-weight: 400;
}
.nav-item a:hover {
  filter: brightness(85%);
}

.intro-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  height: auto;
  width: 100vw;
}

/* typo */
.main-heading {
  font-size: 2rem;
  font-weight: 500;
  cursor: default;
}
.sub-heading {
  font-size: 0.9rem;
  padding: 1rem 1rem;
  color: var(--dark-gray);
  cursor: default;
}
.links {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  width: 50vw;
}
.links .heading-lg {
  margin: 2rem;
}

@media only screen and (max-width: 600px) {
  .ui-nav {
    margin: 0rem;
  }
  .nav-item {
    margin: 0;
  }
  .links {
    width: 80vw;
  }
}
