img {
  width: 100%;
  height: 100%;
}

/* || component (basic card) */

.card-component {
  display: flex;
  flex-direction: column;
  width: 20rem;
  border-radius: 4px;
  box-shadow: var(--main-box-shadow);
  position: relative;
}
/* component image */
.card-comp-img {
  height: auto;
  position: relative;
}
.card-top-img {
  border-radius: 4px 4px 0px 0px;
  object-fit: cover;
}

/* contant */
.card-comp-contant {
  margin: 0.8rem;
}
.card-h2 {
  font-weight: 400;
  font-size: 1.6rem;
}
.card-h3 {
  font-size: 0.8rem;
  font-weight: 400;
  color: gray;
  margin-bottom: 1rem;
}
.card-description {
  font-size: 0.9rem;
  font-weight: 300;
  color: gray;
}

/* actice button */
.card-btn-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.6rem;
}
.card-btn {
  font-size: 0.8rem;
  font-weight: 400;
  margin-left: 0.2rem;
  padding: 0.4rem 0.6rem;
  transition: 0.8s;
}
/* hover effect for buttons */
.card-btn:hover {
  background-color: var(--light-gray);
  cursor: pointer;
}

.card-icon-btn-right {
  margin-left: auto;
}
.card-icon {
  border-radius: 50%;
  padding: 0.5rem 0.6rem;
  transition: 0.3s;
}
/* hover effect for action btn */
.card-icon:hover {
  background-color: var(--light-gray);
  cursor: pointer;
}

/* || component(basic card) */

/* ----------------- */

/* || conponent two (over media)  */

.overlap-heading {
  bottom: 0;
  position: absolute;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.h3-over-media {
  margin: 0;
}

/* || conponent two */

/* ---- */

/* component three (horizontal card)*/

.horizontal-card {
  display: flex;
}
.card-side-img {
  height: auto;
  width: 8rem;
  border-radius: 4px 0px 0px 0px;
}

.cart-item .card-h3 {
  margin-bottom: 3px;
}

.item-quantity {
  display: flex;
  align-items: center;
  line-height: normal;
}
.item-quantity .btn-icon {
  padding: 0;
  margin: 0;
  text-align: center;
}
.card-comp-contant .btn {
  margin: 8px 0px;
}
.quantity-number {
  padding: 2px 8px;
}
/* price tag on card */
.price-tag {
  margin: 4px 0px;
}
.card-badge {
  background-color: black;
  color: white;
  padding: 0.2rem 0.4rem;
  margin: 0.4rem;
  width: fit-content;
  position: absolute;
  border-radius: 2px;
  box-shadow: var(--main-box-shadow);
  cursor: pointer;
  top: 0;
}

.discount-tag {
  color: var(--danger-color);
}

@media only screen and (max-width: 600px) {
  .card-component {
    width: 14.5rem;
  }
}
