<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/x-icon"
      href="../../assets/light-favicon.png"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="navigation.css" />

    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="../../docs.css" />
    <title>Light UI</title>
  </head>
  <body>
    <!-- ui nav bar -->
    <nav class="ui-nav">
      <div class="right-nav">
        <span class="main-heading">Light UI</span>
        <span class="sub-heading">v 1.0</span>
      </div>
      <ul class="left-nav">
        <div class="nav-item"><a href="../../index.html">Get Started</a></div>
        <div class="nav-item">
          <a href="https://github.com/harshitpaliwal95/light-ui">Github</a>
        </div>
      </ul>
    </nav>
    <!-- ui nav bar -->
    <div class="main-box">
      <!-- docs side bar -->
      <div class="side-bar">
        <div class="sidebar-title">Components</div>
        <div class="sidebar-item">
          <a class="link-text" href="../typography/typo.html">Typography</a>
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="../avtar-badge/avtar.html">Avatar</a>
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="../avtar-badge/badge.html">Badge</a>
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="../alert-btn/alert.html">Alert</a>
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="../alert-btn/button.html">Button</a>
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="../image-input/image.html">Image</a>
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="../image-input/image.html">Input</a>
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="../card/card.html">Card</a>
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="../list/list.html">List</a>
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="#">Navigation</a>
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="../snackbar-rating/snackbar.html"
            >Snackbar</a
          >
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="../snackbar-rating/rating.html">Rating</a>
        </div>
      </div>
      <!-- docs side bar -->
      <!-- docs main contant -->
      <div class="doc-contant">
        <div class="docs-info">
          <div class="docs-heading">Navigation</div>
          <div class="docs-sub-heading">
            Navigation bar is used to navigate through the web apps or websites.
            This navigation component is responsive. It is a hamburger menu in
            medium and small devices
          </div>
        </div>
        <div class="docs-info">
          <div class="demo-component-typo">
            <header>
              <div class="user-ac">
                <div class="rightside">
                  <button class="user-ac-btn help-btn"><p>Help</p></button>
                  <span>|</span>
                  <button class="user-ac-btn join-btn"><p>Join Us</p></button>
                  <span>|</span>
                  <button class="user-ac-btn sign-btn"><p>Sign In</p></button>
                </div>
              </div>
              <nav class="navbar">
                <div class="left-nav">
                  <div class="logo">
                    <a href="#">
                      <img src="../../assets/nav-logo.png" alt="logo img" />
                    </a>
                  </div>
                </div>

                <ul class="nav-center">
                  <li><a href="#">New Releases</a></li>
                  <li><a href="#">Men</a></li>
                  <li><a href="#">Women</a></li>
                  <li><a href="#">Kids</a></li>
                </ul>
                <div class="right-nav">
                  <div class="search-navbar">
                    <input type="text" placeholder="Search" />
                    <button class="btn-icon">
                      <i class="bi bi-search"></i>
                    </button>
                  </div>

                  <div>
                    <button class="btn-icon">
                      <i class="bi bi-heart"></i>
                    </button>
                    <button class="btn-icon">
                      <i class="bi bi-cart"></i>
                    </button>
                    <button class="btn-icon burger">
                      <i class="bi bi-list"></i>
                    </button>
                  </div>
                </div>
              </nav>
            </header>
          </div>
          <!-- code snipet -->
          <div class="code-snippet">
            <iframe
              src="https://carbon.now.sh/embed/JUFFnWjYQApf7pU7PUHp"
              style="
                width: 100%;
                height: 316px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
        </div>
      </div>
      <!-- docs main contant -->
    </div>
  </body>
</html>
