<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="avtar.css" />
    <link rel="stylesheet" href="../../docs.css" />
    <title>Light UI</title>
  </head>
  <body>
    <!-- ui nav bar -->
    <nav class="ui-nav">
      <div class="right-nav">
        <span class="main-heading">Light UI</span>
        <span class="sub-heading">v 1.0</span>
      </div>
      <ul class="left-nav">
        <div class="nav-item"><a href="../../index.html">Get Started</a></div>
        <div class="nav-item">
          <a href="https://github.com/harshitpaliwal95/light-ui">Github</a>
        </div>
      </ul>
    </nav>
    <!-- ui nav bar -->
    <div class="main-box">
      <!-- docs side bar -->
      <div class="side-bar">
        <div class="sidebar-title">Components</div>
        <div class="sidebar-item">
          <a class="link-text" href="../typography/typo.html">Typography</a>
        </div>
        <div class="sidebar-item"><a class="link-text" href="#">Avatar</a></div>
        <div class="sidebar-item">
          <a class="link-text" href="badge.html">Badge</a>
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="../alert-btn/alert.html">Alert</a>
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="../alert-btn/button.html">Button</a>
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="../image-input/image.html">Image</a>
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="../image-input/input.html">Input</a>
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="../card/card.html">Card</a>
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="../list/list.html">List</a>
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="../navigation/navigation.html">
            Navigation
          </a>
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="../snackbar-rating/snackbar.html"
            >Snackbar</a
          >
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="../snackbar-rating/rating.html">Rating</a>
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="../modal/modal.html">Modal</a>
        </div>
      </div>
      <!-- docs side bar -->
      <!-- docs main contant -->
      <main class="doc-contant">
        <div class="docs-info">
          <div class="docs-heading">Avatar</div>
          <div class="docs-sub-heading">
            Avatars are user profile pictures, usually found in circular shapes.
            Avatars can be used for 'container' objects — projects, spaces,
            repositories, etcetera — to give them a recognisable visual
            identity.
          </div>
        </div>
        <div class="docs-info">
          <div class="docs-heading doc-m-heading">Round Avatar</div>
          <div class="sub-heading">
            Profile Avatars can be created using the class 'avatar', inside the
            img tag.
          </div>
          <div class="demo-component-typo">
            <span>
              <img
                class="avatar sm"
                src="/assets/img_avatar2.png"
                alt=""
                srcset=""
              />
            </span>
            <span>
              <img
                class="avatar md"
                src="/assets/img_avatar2.png"
                alt=""
                srcset=""
              />
            </span>
            <span>
              <img
                class="avatar lg"
                src="/assets/img_avatar2.png"
                alt=""
                srcset=""
              />
            </span>
          </div>
          <!-- code snipet -->
          <div class="code-snippet">
            <iframe
              src="https://carbon.now.sh/embed/GQBJlRev9rgnKQyiNSb7"
              style="
                width: 100%;
                height: 242px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
        </div>
        <div class="docs-info">
          <div class="docs-heading doc-m-heading">Square Avatar</div>
          <div class="sub-heading">
            Adding a class 'square' to existing class, will generate a square
            shaped avatar.
          </div>
          <div class="demo-component-typo">
            <span>
              <img
                class="avatar square sm"
                src="/assets/img_avatar.png"
                alt=""
                srcset=""
              />
            </span>
            <span>
              <img
                class="avatar square md"
                src="/assets/img_avatar.png"
                alt=""
                srcset=""
              />
            </span>
            <span>
              <img
                class="avatar square lg"
                src="/assets/img_avatar.png"
                alt=""
                srcset=""
              />
            </span>
          </div>
          <div class="code-snippet">
            <iframe
              src="https://carbon.now.sh/embed/mNSfNFLFxlWoSB4BIasZ"
              style="
                width: 100%;
                height: 242px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
        </div>
      </main>
      <!-- docs main contant -->
    </div>
  </body>
</html>
