@import url(../../style.css);
.badge {
  position: relative;
  font-size: 14px;
  line-height: 0;
  font-weight: 500;
  padding: 3px 7px;
  border-radius: 50%;
  top: -0.7rem;
  left: -0.6rem;
  color: white;
  background-color: var(--primary-color);
}

.left-badge {
  left: 0.6rem;
}
.l-badge {
  font-size: 18px;
  padding: 0.28rem 0.6rem;
}

.badge-prime {
  background-color: var(--primary-color);
}

.badge-red {
  background-color: var(--danger-color);
}
.badge-button {
  padding: 0.4rem 0.6rem;
  border-radius: 2px;
  box-shadow: var(--main-box-shadow);
  color: white;
  background-color: var(--primary-color);
}

.badge-button:hover {
  filter: brightness(85%);
}
.hidden {
  display: none;
}

/* avtar badge css */
.badge-avatar {
  position: relative;
  width: max-content;
}
.av-badge {
  top: 26px;
  left: 38px;
  position: absolute;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: green;
}
.av-offline {
  background-color: gray;
}
