<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/x-icon"
      href="../../assets/light-favicon.png"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="badge.css" />
    <link rel="stylesheet" href="avtar.css" />
    <link rel="stylesheet" href="../../docs.css" />
    <title>Light UI</title>
  </head>
  <body>
    <!-- ui nav bar -->
    <nav class="ui-nav">
      <div class="right-nav">
        <span class="main-heading">Light UI</span>
        <span class="sub-heading">v 1.0</span>
      </div>
      <ul class="left-nav">
        <div class="nav-item"><a href="#">Example</a></div>
        <div class="nav-item"><a href="#">Github</a></div>
      </ul>
    </nav>
    <!-- ui nav bar -->
    <div class="main-box">
      <!-- docs side bar -->
      <div class="side-bar">
        <div class="sidebar-title">Components</div>
        <div class="sidebar-item">
          <a class="link-text" href="../typography/typo.html">Typography</a>
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="avtar.html">Avatar</a>
        </div>
        <div class="sidebar-item"><a class="link-text" href="#">Badge</a></div>
        <div class="sidebar-item">
          <a class="link-text" href="../alert-btn/alert.html">Alert</a>
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="../alert-btn/button.html">Button</a>
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="../image-input/image.html">Image</a>
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="../image-input/input.html">Input</a>
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="../card/card.html">Card</a>
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="../list/list.html">List</a>
        </div>
        <div class="sidebar-item">
          <a class="link-text" href="../navigation/navigation.html">
            Navigation
          </a>
        </div>
      </div>
      <!-- docs side bar -->
      <!-- docs main contant -->
      <main class="doc-contant">
        <div class="docs-info">
          <div class="docs-heading">Badges</div>
          <div class="docs-sub-heading">
            Badges are being used to display a notification count or status
            information
          </div>
        </div>
        <div class="docs-info">
          <div class="docs-heading doc-m-heading">
            Badge and Badge with icon
          </div>
          <div class="demo-component-typo">
            <div>
              <span class="badge">4</span>
            </div>

            <span>
              <i class="bi bi-house-door-fill"></i>
              <d class="badge">4</d>
            </span>
          </div>
          <!-- code snipet -->
          <div class="code-snippet">
            <iframe
              src="https://carbon.now.sh/embed/bsYlp7WPD6uOhU1UBj3i"
              style="
                width: 100%;
                height: 316px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
        </div>
        <div class="docs-info">
          <div class="docs-heading doc-m-heading">Badge with Button</div>

          <div class="demo-component-typo">
            <span>
              <d class="badge badge-prime left-badge">4</d>
              <button class="badge-button">Action</button>
            </span>
            <span
              ><button class="badge-button hide-bage-btn">Hide</button
              ><d class="badge badge-red badge-hide">4</d>
            </span>
          </div>
          <div class="code-snippet">
            <iframe
              src="https://carbon.now.sh/embed/4yCgLJ6KlxQCDL3hXBXs"
              style="
                width: 100%;
                height: 298px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
        </div>
        <div class="docs-info">
          <div class="docs-heading doc-m-heading">Avatar with Badge</div>

          <div class="demo-component-typo">
            <div class="badge-avatar">
              <img
                class="avatar sm"
                src="/assets/img_avatar.png"
                alt="Avtar img"
                srcset=""
              />
              <div class="av-badge"></div>
            </div>
            <div class="badge-avatar">
              <img
                class="avatar sm"
                src="/assets/img_avatar2.png"
                alt="Avtar img"
                srcset=""
              />
              <div class="av-badge av-offline"></div>
            </div>
          </div>
          <div class="code-snippet">
            <iframe
              src="https://carbon.now.sh/embed/hhcpRWHtizNCZXLuXWj8"
              style="
                width: 100%;
                height: 298px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
        </div>
      </main>
      <!-- docs main contant -->
    </div>
  </body>
  <script src="badge.js"></script>
</html>
